!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      = "Here is your new password: #{@new_password}"
    %p
      Best regard,
    %p Doctor app