.footer.container
  .row
    .copyright.col-md-5.col-md-offset-1.text-left
      Copyright © 2015 Doctorapp.com. All Rights Reserved
    .terms.col-md-3.text-left
      = link_to 'Terms & Conditions', terms_conditions_path
    .help.col-md-3.text-left
      = link_to 'Help', helps_path