!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hello,
    %p Your referred friend has just taken first booking.
    %p 
      = "You will get a credit of #{@bonus_amount} for the next booking."
    %p
      Best regard,
    %p GPDQ