!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hello,
    %p Your friend has sent you this voucher for booking your appointment.
    %p 
      = "Voucher Code: #{@voucher_code}"
    %p You can use this voucher for next appointment.
    %p
      Best regard,
    %p GPDQ
