.help-wrapper {
  margin-top: 60px;
}
.terms-conditions {
  margin: 30px 0;
  /*height: 70vh;*/
}
.navbar-mobile{
  opacity: 0.85;
}
.navbar-mobile .navbar-nav > li > a:hover {
  color: #5bc0de;
  background-color: #eee;
}
.menu-right {
  margin-right: 30px;
}